<style>
    #demo {
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .green {
        background-color: #6fb936;
    }

    .thumb {
        margin-bottom: 30px;
    }

    .page-top {
        margin-top: 50px;
    }

    img.zoom {
        width: 100%;
        height: 200px;
        border-radius: 5px;
        object-fit: cover;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
    }

    .transition {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    .modal-header {

        border-bottom: none;
    }

    .modal-title {
        color: #000;
    }

    .modal-footer {
        display: none;
    }

    .bg-black {
        background-color: #000;
        padding: 30px 0 30px 0;
        border-radius: 25px;
        color: white;
    }

    .hidden {
        display: none;
    }

</style>
<div class="container-fluid bg-black mb-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 offset-sm-4 offset-md-4 offset-lg-4 offset-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#day">Add Day</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="myTabContent" class="tab-content">

                <div class="mt-5 tab-pane fade active show" id="users">
                    <div>
                        <ul id="demo1"></ul>
                    </div>
                </div>

                <div class="tab-pane fade" id="gallery">
                    <!-- Page Content -->
                    <div class="container page-top">
                        <div class="row">
                            <div class="col-lg-5 offset-lg-4 col-sm-5 offset-sm-4 col-md-5 offset-md-4">
                                <div class="form-group">
                                    <div id="reportrange"
                                        style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;color:black !important;border-radius: 50px;">
                                        <i class="fa fa-calendar"></i>&nbsp;
                                        <span></span> <i class="fa fa-caret-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3" id="image_div"></div>
                    </div>
                </div>

                <div class="mt-5 tab-pane fade" id="day">
                    <div class="pr-5 pl-5">
                        <div style="text-align:center">
                            <div id="successMsg" class="hidden alert alert-success">Successfully added!</div>
                            <div id="dangerMsg" class="hidden alert alert-danger">Error in Adding!</div>
                            <div id="dangerMsg2" class="hidden alert alert-danger">Please fill the required value!</div>
                        </div>

                        <div class="form-group row">
                            <label for="textDate" class="col-2 col-form-label">Date:</label>
                            <div class="col-4">
                                <input style="color:white;" id="textDate" width="276" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="textValue" class="col-2 col-form-label">Text:</label>
                            <div class="col-10">
                                <input style="color:white;" class="form-control" type="text" id="textValue">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2 offset-10">
                                <button onclick="themeDay()" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/js/firebase.js"></script>

<script>
    $('#textDate').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>