<style>
    input::placeholder {
        color: white !important;
    }
</style>

<div class="col-lg-6 offset-lg-3 bg-primary p-5" style="color:white; border-radius: 5px">
    <h2 class="page-header">Account Login</h2>
    <form method="post" action="/users/login" class="mb-5">

        <div class="input-group mb-3" style="color:white">
            <input style="padding: 10px; color:white" type="text" class="form-control" name="username"
                placeholder="Username">
            <div class="input-group-prepend">
                <span style="margin-left: -14px; color:white" class="input-group-text" id="basic-addon1"><i
                        class="fa fa-user"></i></span>
            </div>
        </div>

        <div class="input-group mb-3" style="color:white">
            <input style="padding: 10px; color:white" type="password" class="form-control" name="password"
                placeholder="Password">
            <div class="input-group-prepend">
                <span style="margin-left: -14px; color:white" class="input-group-text" id="basic-addon1"><i
                        class="fa fa-key"></i></span>
            </div>
        </div>
        <button style="float:right" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>